<!DOCTYPE html>
<html class="dark">
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body class="bg-slate-200 dark:bg-slate-700">
    <header>
      <%= render partial: "shared/navbar"%>
    </header>
    <main>
      <%= yield %>
    </main>
    <%= render partial: "shared/footer"%>
  </body>
</html>
